<!DOCTYPE html>
<html>
<head>
    <title>Class Based View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container navbar-nav">
        <a class="nav-brand" href="{% url 'app_one:list' %}">School</a>
        <a class="nav-list" href="{% url 'admin:index' %}">Admin</a>
    </div>

</nav>


<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
</body>
</html>